#title {
	text-align: center;
	color: #76323f;
}

#subtitle {
	text-align: center;
	color: #76323f;
}

#picture {
	width: 200px;
	height: 200px;
}

#picture.center {
	display: block;	
	margin: 0 auto;
}

#tree {
	border: 1px black solid;
	display: block;
	margin: 0 auto;
}

#container {
	width: 70%;
	margin: 0 auto;
	padding: 50 50;
	background: #d7cec7;
}

#inputParameters {
	width: 35%;	
	margin: 0 auto;
}

body {
	background: #565656;
}

p {
	color: #565656;
}

h3 {
	color: #76323f;
}

strong {
	color: #76323f;
}

::selection {
	background: #565656;
	color: #c09f80;
}

.header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	width: 70%;
	display: none;
	background: #d7cec7;
	padding: 20px;
	border-bottom: 1px solid #565656;
}

.header-1 {
	display: block;
}

.header-2 {
	height: 75px;
}

.body {
	padding-top: 200px;
}
