#title {
	text-align: center;
}

#subtitle {
	text-align: center;
}

#picture {
	width: 200px;
	height: 200px;
}

#picture.center {
	display: block;	
	margin: 0 auto;
}

#tree {
	border: 1px black solid;
	display: block;
	margin: 0 auto;
}

#container {
	width: 80%;
	margin: 20 auto;
}

#inputParameters {
	width: 35%;	
	margin: 0 auto;
}
